<mat-toolbar class="navbar" color="primary">
  @if (isUserAuthenticated) {
    <button mat-flat-button
            color="primary"
            routerLink="/admin/surveys"
    >
      Surveys
    </button>
    <button mat-flat-button
            color="primary"
            class="navbar__auth-button"
            (click)="onSignOut()"
    >
      Sign Out
    </button>
  } @else {
    <button mat-flat-button
            color="primary"
            routerLink="/surveys"
    >
      Surveys
    </button>
    <button mat-flat-button
            color="primary"
            class="navbar__auth-button"
            (click)="onSignIn()"
    >
      Sign In
    </button>
  }
</mat-toolbar>
<section>
  <router-outlet></router-outlet>
</section>
