.card {
  padding: 2rem;

  &__header {
    margin-bottom: 2rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.single-choice {
  display: flex;
  flex-direction: column;
}
